# Merge example

In [1]:
import pandas as pd

In [4]:
postcodes = pd.read_excel("data/postcodes.xlsx", dtype="string").set_index("code")
postcodes.sample(10)

              city
code
5304      HETLEVIK
5695        UGGDAL
3002       DRAMMEN
6533        AVERØY
9536   KORSFJORDEN
5243          FANA
2404       ELVERUM
2058  SESSVOLLMOEN
6083    GJERDSVIKA
6292      KJERSTAD

In [5]:
people = pd.DataFrame([
    ['Oscar', 'Aga', '7770'],
    ['Tina', 'Alexandersen', '3740'],
    ['Bernt', 'Alnes', '5644'],
    ['Sigve', 'Askevold', '9999'],
    ['Runar', 'Asp', '5841']
], columns=['first_name', 'last_name', 'postcode'])
people.head()

  first_name     last_name postcode
0      Oscar           Aga     7770
1       Tina  Alexandersen     3740
2      Bernt         Alnes     5644
3      Sigve      Askevold     9999
4      Runar           Asp     5841

We would like to add the `city` column based on the `postcode`:

In [6]:
pd.merge(people, postcodes, how="left", left_on="postcode", right_index=True)

  first_name     last_name postcode       city
0      Oscar           Aga     7770  FLATANGER
1       Tina  Alexandersen     3740      SKIEN
2      Bernt         Alnes     5644   SÆVAREID
3      Sigve      Askevold     9999       <NA>
4      Runar           Asp     5841     BERGEN